@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap");

.login-form-box{
    border: 2px solid #bebebe;
    margin-top: 8vh;
    min-width: 20rem;
    border-radius: 20px;
    font-family: "Noto Sans Arabic", sans-serif;
}
.remember-me-form{
    justify-content: left;
    text-decoration: none;
}
.Link{
    text-decoration: none;
}