.description {
  margin-left: 1rem;
  font-family: "Noto Sans Arabic", sans-serif;
  //   justify-content: center;
  //   display: flex;
  width: 29rem;
  //   display: inline-block; /* or inline-flex */
  border: 1px solid #1c59f5; /* Add border style */
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
  padding: 0.6rem; /* Optional: Add padding to create spacing between the border and content */
  float: left; // bring the whole component to right
  //   flex-direction: column;
  //   align-items: center;
  margin: 0 auto; // bring the whole tabs into the middle
  min-height: 14.3rem;
  height: 15.8rem !important;
}

.box {
  min-height: 14.2rem;
}

