*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.activeList{
    margin-left: 0%;
}

// partial scss:
@import "./openAccount";
@import "./customerIdentity";
@import "./customerContact";
@import "./accountingBook";
@import "./description"
